
h1 {text-align: center;}

.dog {
		position: absolute;
		left: 10%; top: 10%;
		z-index: 0;
}

.cat {
		position: absolute;
		left: 30%; top: 30%;
		z-index: 1;
}

.horse {
		position: absolute;
		left: 50%; top: 50%;
		z-index: 2;
}
